*{
    padding: 0;
    margin: 0;
}
body{
    background-color: grey;
}
.hero{
 display: flex;
    align-items: center;

}
.container{
    margin: 0 auto;
    padding: 0 15px;
    width: 1500px;
}
.box{
    width: 500px;
    height: 500px;
    background-color: yellow;
    display: flex;
    align-items: center;
   text-align: center;
}
.box_shadow_code{
    margin: 0 10px;

    color: grey;

    font-size: 50px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    align-items: center;
    height: 100vh;
    background-color: grey;
}
input[type= "range"]{
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 50px;
    width: 20px;
    background: yellow;
border: 5px solid white;

    margin-top: -15px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track{
    background:yellow;
    border: 3px solid white;
    border-radius: 4px;
    width: 20px;
    height: 30px;
    cursor: pointer;
}
.settings-block{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 30px;
}
.line{
    margin-top: 20px;
}
.label{
    color: yellow;
    font-size: 30px;
    padding-top: 15px;


}